<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RedeSocial - {{ .Usuario.Nome }}</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
</head>

<body>
{{ template "cabecalho" }}

{{ $SeguidoPeloUsuarioLogado := false }}
{{ range .Usuario.Seguidores }}
    {{ if (eq .ID $.UsuarioLogadoID) }}
        {{ $SeguidoPeloUsuarioLogado = true }}
    {{ end }}
{{ end }}

<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Perfil do Usuário</h5>
                    <br>
                    <h6 class="card-subtitle mb-2 text-muted">
                        @{{ .Usuario.Nick }} - {{ .Usuario.Nome }} | Membro
                        desde: {{ .Usuario.CriadoEm.Format "02/01/2006" }}
                    </h6>
                    <br>

                    <p class="card-text">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modal-seguidores">
                            Seguidores: {{ len .Usuario.Seguidores }}
                        </a>
                    </p>

                    <p class="card-text">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modal-seguindo">
                            Seguindo: {{ len .Usuario.Seguindo }}
                        </a>
                    </p>

                    <a href="#" class="card-link">
                        {{ if $SeguidoPeloUsuarioLogado }}
                            <button id="parardeseguir" class="btn btn-info bg-body-secondary" data-usuario-id="{{ .Usuario.ID }}">
                                Parar de Seguir
                            </button>

                        {{ else }}

                            <button id="seguir" class="btn btn-info" data-usuario-id="{{ .Usuario.ID }}">
                                Seguir
                            </button>
                        {{ end }}

                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Publicações do Usuário {{ .Usuario.Nick }} </h5>
                    <p class="card-text">
                        {{ range .Usuario.Publicacoes }}
                        {{ template "publicacao-sem-permissao" . }}
                        {{ else }}
                    <p class="text-muted text-center">
                        Não existe publicações deste usuário
                    </p>
                    {{ end }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{{ template  "modal-seguidores" .Usuario }}
{{ template  "modal-seguindo" .Usuario }}

{{ template "rodape" }}
{{ template "scripts" }}

<script src="/assets/js/publicacoes.js"></script>
<script src="/assets/js/usuario.js"></script>
</body>

</html>